<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" content="LifePulse">
  <meta name="author" content="Nishant Shah">
  <meta name="og:image" content="static/logo1.png">
  <meta name="Keywords" content="Flask, Machine Learning, Deep Learning, Artificial Intelligence, AI, ML,DL, Web Development">
  <meta name="description" content="A Machine Learning and Deep Learning based webapp for Multiple Disease Prediction.">
  <title>LifePulse</title>
  <link rel="icon" href="{{ url_for('static', filename = 'logo1.png') }}" type="image/icon type">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <style>
    html, body { height: 100%; margin: 0; }
    header { height: 50px; background: whitesmoke; }
    footer { height: 75px; background: rgb(0, 0, 0); }

    body {
      display: flex;
      flex-direction: column;
    }

    footer {
      padding: 10px;
      margin-top: auto;
    }

    .navbar-nav .nav-link {
      color: white !important;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="background-color: grey !important;">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='LifePulse.png') }}" height="60px" width="275px" alt="LifePulse">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('diabetesPage') }}">Diabetes</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('cancerPage') }}">Breast Cancer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('heartPage') }}">Heart</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('kidneyPage') }}">Kidney</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('liverPage') }}">Liver</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('malariaPage') }}">Malaria</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('pneumoniaPage') }}">Pneumonia</a></li>

        {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('userDashboard', username=current_user.username) }}">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link text-danger" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <br><br><br><br>

  <main>
    <div class="container-fluid" style="margin-bottom: 20px;">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer>
    <center>
      <ul style="list-style-type:none;">
        <li><p style="color: white;"> © Nishant Shah | LifePulse</p></li>
      </ul>
    </center>
  </footer>
</body>
</html>
